body {
    /* background-color: rgb(171, 223, 224); */
}

.font1 {
  text-align: start;
}

.self {
    /* display: inline-bloc; */
    /* display: block; */
    display: contents;
    border: 15px solid rgb(11, 11, 15);
    font-size: 30px;
    text-align: start;
}
.big{
    font-style: oblique;
    font-size: 35px;
}
.box{
    border: 20px solid lightsalmon;
    box-shadow: 10px 10px 20px brown;
}
.size{
    
}
.class{
    font-size: 15px;
}
.toptext{
    text-align: center;
    text-decoration: rgb(180, 109, 17);
    font-size: 60px;
    border: 20px dashed burlywood;
    margin: 20px;
    height: 800px;
    /* width: 600px; */
    /* background: cover; */
    /* width: 50px; */
    background-size: cover;
    background-image: url(../images/sea.jpg);


   
}
