nav > h1{
    display: block;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}
nav > ul > li{
    display: inline;
    margin-right: 15px;
  
    
}
nav > li >a{
 
   
    text-decoration: none;
    text-align: center; 
    font-size: 15px;
    

}
.topline{
    font-size: 30px;
    font-style: oblique;
    margin: 0px;
}
p{
    font-size: 24px;
    font-style: normal;
}
footer{
    text-align: center;
}